html{
    transition: background-image 1.5s ease-in-out;
    background: url('./images/FarHouse.jpg') no-repeat center center fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    font-family: 'Annie Use Your Telescope', cursive;
    text-align: center;
    align-items: center;
}

.choice{
    margin-top: 20%;
}
.overlay {
    /* padding: 50px 100px; */
    margin:0px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    background: rgba(0, 0, 0, 0.7);
}

h1{
    color: beige;
    font-size: 45px;
    animation: fadeIn 2s both;
}

button{
    width: 20%;
    height: 50px;
    margin: 15px;
    font-size: 25px;
    border-radius: 4px;
    background-color: beige;
    border: none;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 1000;
}

button:hover{
    background-color: #c21e40;
    box-shadow: 0 0 5px #c21e40, 0 0 25px #c21e40,0 0 50px #c21e40,0 0 200px #c21e40;
    color: beige;
}

#choice1{
    animation: fadeIn 2s 1s both;
}

#choice2{
    animation: fadeIn 2s 2s both;
}

#fademe{
    opacity:0;
    transition:2s;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

  #countdown {
    font-size: 48px;
    margin-top: 60px;
    color: beige;
    top: 40%;
  }


